@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geist", sans-serif;
}

.container-header {
    background-image: url(../img/header_bg.webp);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    padding: 20px 36px 20px 36px;
}

.header {
    background-color: #fff550;
    width: 100%;
    height: 90px;
    border-radius: 49px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 20px;
    z-index: 1000;
}
.contenuto-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 48px;
}

.container-logo {
    display: inline-block;
}

a {
    color: #222333;
    text-decoration: none;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -2%;
    font-weight: 600;
}

@media (max-width: 1023px) {
    .desktop-menu {
        display: none;
    }
    .container-menu {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {
    .hamburger-menu {
        display: none;
    }
    .container-menu {
        flex-grow: 1;
    }
    .container-menu nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        gap: 46px;
        padding-right: 36px;
        box-sizing: border-box;
    }
}

.container-titolo {
    position: relative;
    top: 25vh;
}

h1 {
    color: white;
    font-size: 48px;
    letter-spacing: -2%;
    line-height: 85%;
    font-weight: 600;
}

@media (min-width: 768px) {
    h1 {
        font-size: 72px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 104px;
    }
}
