@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

body {
    font-family: "Geist", sans-serif;
}

.header {
    background-color: #fff550;
    width: auto;
    height: 90px;
    border-radius: 49px;
    display: flex;
    flex-direction: row;
}
.contenuto-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 36px 20px 36px;
}

.container-logo {
    display: inline-block;
}

a {
    color: #222333;
    text-decoration: none;
    size: 16px;
    line-height: 120%;
    letter-spacing: -2%;
    font-weight: 600;
}

nav a.active {
    text-decoration: underline;
}

@media (max-width: 1023px) {
    .desktop-menu {
        display: none;
    }
    .container-menu {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {
    .hamburger-menu {
        display: none;
    }
    .container-menu {
        flex-grow: 1;
    }
    .container-menu nav {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        gap: 46px;
        padding-right: 36px;
        box-sizing: border-box;
    }
}
